<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Generator|About Us</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="1.css">
</head>

<body>
    <div class="navbar">
        <div class="navbar-lft">
            <!-- <img src="https://images.unsplash.com/photo-1682687221080-5cb261c645cb?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwyNXx8fGVufDB8fHx8fA%3D%3D"
                alt=""> -->
        </div>
        <div class="navbar-right">
            <nav>
                <li><a href="./semproject.html">Home</a></li>
                <li><a href="./about.html">About Us</a></li>
                <li><a href="./contact.html">Contact</a></li>
                <li><a href="./documentation.txt">Documentation</a></li>
                <a href="./Chat_history_Project.txt">
                <input type="button" value="Chat History" id="toggle"> 
                </a>
            </nav>
        </div>
    </div>
    <div class="aboutbdy">
        <div class="content">
            <div class="abutimg">
                <img src=" https://images.unsplash.com/photo-1500648767791-00dcc994a43e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8cG9ydHJhaXQlMjBpbWFnZXxlbnwwfHwwfHx8MA%3D%3D"
                    alt="">
            </div>
            <div class="abouttext">
                <h2>Udesh Regmi</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate eligendi exercitationem quam
                    nesciunt harum, consequuntur adipisci labore unde alias sed possimus delectus. Laborum praesentium
                    atque est debitis eos id! Nulla, quod quasi?</p>
            </div>
        </div>
        <div class="content">
          
            <div class="abouttext">
                <h2>Apil Adhikari</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate eligendi exercitationem quam
                    nesciunt harum, consequuntur adipisci labore unde alias sed possimus delectus. Laborum praesentium
                    atque est debitis eos id! Nulla, quod quasi?</p>
            </div>
            <div class="abutimg">
                <img src=" https://images.unsplash.com/photo-1500648767791-00dcc994a43e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8cG9ydHJhaXQlMjBpbWFnZXxlbnwwfHwwfHx8MA%3D%3D"
                    alt="">
            </div>
        </div>
        <div class="content">
            <div class="abutimg">
                <img src=" https://images.unsplash.com/photo-1500648767791-00dcc994a43e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8cG9ydHJhaXQlMjBpbWFnZXxlbnwwfHwwfHx8MA%3D%3D"
                    alt="">
            </div>
            <div class="abouttext">
                <h2>Pritika Nakarmi</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate eligendi exercitationem quam
                    nesciunt harum, consequuntur adipisci labore unde alias sed possimus delectus. Laborum praesentium
                    atque est debitis eos id! Nulla, quod quasi?</p>
            </div>
        </div>
    </div>
</body>

</html>