<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">

    <title>Blog Generator|Contact Us</title>

</head>
<body>
    <div class="navbar">
        <div class="navbar-lft">
            <!-- <img src="https://images.unsplash.com/photo-1682687221080-5cb261c645cb?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwyNXx8fGVufDB8fHx8fA%3D%3D"
                alt=""> -->
        </div>
        <div class="navbar-right">
            <nav>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./about.html">About Us</a></li>
                <li><a href="./contact.html">Contact</a></li>
                <li><a href="./documentation.txt">Documentation</a></li>

                <a href="./Chat_history_Project.txt">
                <input type="button" value="Chat History" id="toggle"> 
                </a>
                
            </nav>
        </div>
    </div>
    <div class="grid">
        <div class="udesh">
            <div class="contimg">
            <img src="https://images.unsplash.com/photo-1706730949208-c99b056eb80b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOXx8fGVufDB8fHx8fA%3D%3D" alt="">
        </div>
        <div class="contcontent">
            <h1>Udesh Regmi</h1>
      
          
            <a href="https://www.github.com/Udesh-Regmi"target="_blank"><i class='bx bxl-github'></i></a>
            <a href="https://www.linkedin.com"target="_blank">  <i class='bx bxl-linkedin' ></i></a>
            <a href="https://facebook.com"target="_blank"> <i class='bx bxl-facebook-circle' ></i></a>
            <a href="https://www.instagram.com"target="_blank">  <i class='bx bxl-instagram' ></i></a>

        </div>
        </div>
        <div class="apil">
            <div class="contimg">
                <img src="https://images.unsplash.com/photo-1706730949208-c99b056eb80b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOXx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="contcontent">
                <h1>Apil Adhikari</h1>
                <a href="https://github.com/Apil120" target="_blank">      <i class='bx bxl-github' ></i></a>
                <a href="https://www.linkedin.com/in/apil-adhikari-4513b7279/"target="_blank">  <i class='bx bxl-linkedin' ></i></a>
                <a href="https://www.facebook.com/apil.adhiikari"target="_blank"><i class='bx bxl-facebook-circle'></i></a>
                <a href="https://www.instagram.com/definitelynotapil"target="_blank">  <i class='bx bxl-instagram' ></i></a>
                <a href="https://medium.com/@apilisadhikari" target="_blank"> <i class='bx bxl-medium'></i></a>

            </div>
        </div>
        <div class="pritika">
            <div class="contimg">
                <img src="https://images.unsplash.com/photo-1706730949208-c99b056eb80b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOXx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="contcontent">
                <h1>Pritika Nakarmi</h1>
                <a href="https://www.github.com"target="_blank">      <i class='bx bxl-github' ></i></a>
                <a href="https://www.linkedin.com"target="_blank">  <i class='bx bxl-linkedin' ></i></a>
                <a href="https://www.facebook.com"target="_blank"><i class='bx bxl-facebook-circle'></i></a>
                <a href="https://www.instagram.com"target="_blank">  <i class='bx bxl-instagram' ></i></a>
              
            </div>
        </div>
    </div>
    <div class="contform">
        <form action="\updated_main.py" method="submit">
            <h1>Contact Information:</h1>
            <div class="infocont">
            <label for="first-name">First Name:</label>
            <input type="text" maxlength="20" id="firstname" >
            <label for="last-name">Last Name:</label>
            <input type="text" maxlength="20" id="last-name" >
          <label for="email" >Email Address</label>
          <input type="email" name="email" id="email" >
          <label for="number">Number:</label>
            <input type="text" name="number" id="number" minlength="10" >

          
        </div>
        </form>
    </div>
</body>
</html>