*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
 

}
.main-container{
width: 100%;
height: 100%;
}
.navbar{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
    color: white;
    position: fixed;

}
.navbar li:hover{
    color: whitesmoke;
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.11);
    transition:ease-in-out 0.2s ;
    box-shadow: 2px 1px 20px blue;
}
.navbar-lft img{
    height: 10vh;
    border-radius: 50%;
    border: 2px solid rgb(185, 32, 32);
    object-position: center center;
    object-fit: contain;

}
.navbar-right nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
    padding-right: 2vw;
}


nav li{
    list-style-type: none;

 }
 nav li a{
    text-decoration: none;
    color: rgb(236, 233, 233);
    font-size: 1.3em;
 }

 .inputtext {
   display: flex;
   align-items: center;
   justify-content: center;
   gap:20vw; 
}

#userinput{
    font-weight: 600;
}
.outputtext{
    width: 50%;
    height: auto;
    margin: auto;
    border: 2px solid slategray;
}
#toggle{
border: 2px solid transparent;
border-radius: 20px;
    padding:5px;
    font-size: 1.2em;
    color: rgb(246, 247, 248);
    background-color: rgba(20, 18, 18, 0.918);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#toggle:hover{
    color: whitesmoke;
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 2px 1px 20px blue;

    transform: scale(1.11);
    transition:ease-in-out 0.4s ;
}
.text{
    width: 80vw;
    margin: auto;
    height: 80vh;
    border: 4px solid rgb(24, 20, 20);
    padding: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
text-align: center;

}
.select{
    color: white;
    text-align: center;
    padding: 2vw 0vw;
    
}
#userinput{
    width: 40vw;
    height: 10vh;
    text-align: center;
    border: 2px solid rgb(24, 21, 21);
}
#userinput:hover{
    box-shadow: 2px 4px 20px rgb(0, 119, 255);
    opacity: 100;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: black;
}

#sel-val{
    text-align: left;
    border-radius: 20px;
    padding: 0vw 0.5vw;
}
.result{
    width: 100%;
height: auto;
    background-color: rgb(26, 24, 24);
    color: white;
    text-align: center;
}
.print{
    padding: 0vw 0.5vw;
    border-radius: 20px;
    gap: 2vw;
    margin-top: 1vw;
}
/* About Page */
.content
{
display: flex;
align-items: center;
justify-content: space-between;
height: 33vh;
padding: 15vw 10vw;
gap: 2vw;


}
.content::after{
    content: '';
    border-bottom: 2px solid white;
}
.abutimg{
border-radius: 50%;
}
.abutimg img{
   width: 144px;
   height: 144px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
    object-position: center center;
}
/* Contact Page */
.grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    gap: 2vw;
    padding: 2vw;
    text-align: center;
}

.contimg img{
overflow: hidden;
    width:300px;
    height: 300px;
    border: 2px solid white;
    border-radius: 50%;


}
.contform{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black;
    height: 70vh;
    width: 80vw;
    margin: auto;
}
.infocont{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    
}